.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.visited-flags-container img {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}